.e66_154 { 
	overflow:hidden;
}
.e66_154 { 
	background-color:rgba(244.0000006556511, 237.0000010728836, 237.0000010728836, 1);
	width:1481px;
	height:1024px;
	position:absolute;
}
.e66_155 { 
	transform: rotate(-0.28242387585585654deg);
	background-color:rgba(22.000000588595867, 19.0000007674098, 19.0000007674098, 1);
	width:1435.3319091796875px;
	height:119.05994415283203px;
	position:absolute;
	left:22px;
	top:53.0750732421875px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e66_156 { 
	color:rgba(252.00000017881393, 246.0000005364418, 246.0000005364418, 1);
	width:915px;
	height:76px;
	position:absolute;
	left:283px;
	top:71px;
	font-family:Irish Grover;
	text-align:center;
	font-size:68px;
	letter-spacing:0;
}
.e66_164 { 
	width:1425px;
	height:803px;
	position:absolute;
	left:28px;
	top:182px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_8_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*
.e66_160 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:41px;
	position:absolute;
	left:1209px;
	top:932px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
*/
.comic-button {
    position:absolute;
	left:1209px;
	top:932px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
.e66_165 { 
	background-color:rgba(9.56250037997961, 7.689843541011214, 7.689843541011214, 1);
	width:373px;
	height:655px;
	position:absolute;
	left:1080px;
	top:220px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e66_166 { 
	color:rgba(255, 255, 255, 1);
	width:314px;
	height:463px;
	position:absolute;
	left:1109px;
	top:316px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
