.e66_100 { 
	overflow:hidden;
}
.e66_100 { 
	background-color:rgba(244.0000006556511, 237.0000010728836, 237.0000010728836, 1);
	width:1481px;
	height:1024px;
	position:absolute;
}
.e66_108 { 
	width:1267px;
	height:591px;
	position:absolute;
	left:35px;
	top:406px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_101 { 
	transform: rotate(-0.28242387585585654deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1435.3319091796875px;
	height:119.05994415283203px;
	position:absolute;
	left:22px;
	top:53.0750732421875px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e66_102 { 
	color:rgba(0, 0, 0, 1);
	width:849px;
	height:76px;
	position:absolute;
	left:316px;
	top:71px;
	font-family:Irish Grover;
	text-align:center;
	font-size:68px;
	letter-spacing:0;
}
.e66_103 { 
	background-color:rgba(206.1508396267891, 35.88556319475174, 35.88556319475174, 1);
	width:290px;
	height:65px;
	position:absolute;
	left:1157px;
	top:920px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e66_104 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:41px;
	position:absolute;
	left:1209px;
	top:932px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e66_105 { 
	color:rgba(15.9375, 12.484375443309546, 12.484375443309546, 1);
	width:1318px;
	height:191px;
	position:absolute;
	left:56px;
	top:215px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
